body{
    background: #000;
}
.roadbed{
    position: absolute;
    overflow: hidden;
    border-left: 10px #fff solid;
    border-right: 10px #fff solid;
    margin: auto;
    width: 480px;
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.road{
    /* 整体移动 */
    width: 480px;
    height: 1600px;
    margin: 0 auto; /*上拉图片才能不露口*/
    margin-top: -800px;
    background: url("../resource/road.png") repeat-y; /*y方向重复*/
    transform:translateZ(0);  /*启动硬件加速*/

}
.road-run{
    animation: roadRun 2s linear infinite;
}

@keyframes roadRun {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(800px);  /*高度须等于图片高度，这样才不会有卡顿现象*/
    }
}

.real-road{
    width: 320px;
    height: 800px;
    /*background: red;*/
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.player-car{
    background: url("../resource/hero.png") no-repeat;
    width: 80px;
    height: 165px;
    position: absolute;
    margin: 0 27px;
    bottom: 28px;
    left: 0;
    transition: all 1s cubic-bezier(0, -0.04, 0, 1.24);
}
.light{
    background: url("../resource/carLight.png") no-repeat;
    position: absolute;
    left: -5px;
    top: -26px;
    width: 100px;
    height: 50px;
}

.player-car-left{
   left: 0;
}

.player-car-right{
    left: 185px;
}

.enemy-car{

}
.enemy1{
    background: url("../resource/car0.png") no-repeat;
    width: 80px;
    height: 165px;
    margin: 0 27px;
    position: absolute;
    top: -200px; /*车隐藏距离*/
    animation: speed0 4s linear infinite;  /*控制好车下来的速度，一定要慢于路往下来的速度，这样车辆才是真实向前开*/
    left: 185px;
}

@keyframes speed0 {
    100%{
        transform: translateY(1000px); /*大于车隐藏距离+图片窗口高度*/
    }
}
